.blog{
    background-image: url(../../assets/Media/blog.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.blogBox{
    padding: 50px 50px 50px 89px;
    background: #feaa36;
    height: 493px !important;
    position: relative;
    display: flex;
    align-items: center;
}
.blogBox a{
    color: #000;
}
.blogBox a:hover{
    color: #000;
}
.blogBox .line{
    margin: 0;
}
.blogBox .section-subtitle::after{
    content: url(../../assets/Media/blog-icon.png);
    position: absolute;
    right: 60px;
    top: 11px;
}
.blog .section-subtitle{
    margin: 0;
}
.blog .section-title{
    padding-bottom: 48px;
}
.blog .button{
    background: #000;
    color: #fff;
    padding: 0.7rem 2rem;
    text-decoration: all .3s ease-in-out;
}
.blog .button:hover{
    background: #fff;
    color:#feaa36;
}

@media screen and (max-width: 1200px) {
    .blogBox{
        height: 400px !important;
    }
}