.AboutHead .ctaBtn{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    word-break: keep-all;
    display: inline-block;
}
.AboutHead .ctaBtn:hover{
    background: none;
    color: #FEAA36;
}

.Aboutcontent h2{
    padding: 0;
}
.Aboutcontent p{
    margin: 1.5rem 0;
}
.Aboutcontent a:hover{
    color: #FEAA36;
}
.aboutImg{
    display: flex;
    justify-content: end;
}
@media screen and (max-width: 1200px) {
    .Aboutcontent p{
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .Aboutcontent{
        text-align: center;
    }
    .aboutImg{
        justify-content: center;
    }
    .Aboutcontent p{
        width: 100%;
    }
}