.contact-box{
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-box-shadow: 0 20px 60px 0 rgb(40 93 251 / 16%);
    box-shadow: 0 20px 60px 0 rgb(97 99 106 / 16%);
    min-height: 295px;
}

.contact-box svg{
    text-align: center;
    fill: #FEAA36;
    display: inline-block;
    border-radius: 0;
    width: 50px;
    height: 50px;
    line-height: 120px;
    font-size: 50px;
    background-color: #ffffff;
}

.contact-box .contac-icon{
    border-right: 5px dashed #FEAA36;
    border-bottom: 5px solid #FEAA36;
    display: inline-block;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 50%;
}
.contact-box h3{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.contact-box p{
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    margin: 0;
}

.contact-box p a{
    color: #FEAA36;
}
.required{
    color: red;
    font-size: 1rem;
}


.form-container {
    border: 1px solid #555;
    padding: 1rem;
}
.form-container label{
    font-weight: 600;
    color: #000;
}
.form-container input,.form-control{
    border-radius: 0px !important;
    padding: 0.275rem 0.75rem;
}

.form-container .formBtn button{

}